* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #eceff1;
}

.sidenav {
    background-color: #eceff1;
}

.tabs .indicator {
    background-color: #1976d2;
}

.tabs .tab a {
    color: #1976d2;
}

.tabs .tab a:hover,
.tabs .tab a.active {
    color: #1976d2;
}

.tabs .tab a:focus,
.tabs .tab a:focus.active {
    background-color: rgba(178, 208, 246, 0.2);
}

.material-icons {
    display: inline-flex;
    vertical-align: top;
}


/* label focus color */

.input-field input[type=text]:focus+label {
    color: #1976d2 !important;
}


/* label underline focus color */

.input-field input[type=text]:focus {
    border-bottom: 1px solid #1976d2 !important;
    box-shadow: 0 1px 0 0 #1976d2 !important;
}


/* label focus color */

.input-field input[type=email]:focus+label {
    color: #1976d2 !important;
}


/* label underline focus color */

.input-field input[type=email]:focus {
    border-bottom: 1px solid #1976d2 !important;
    box-shadow: 0 1px 0 0 #1976d2 !important;
}

a {
    text-align: center;
}

span {
    color: #1976d2;
}

span:hover {
    color: #175da3;
}

#img-background {
    margin-bottom: -5vh;
    width: 100%;
}

#img-profile {
    margin-bottom: 5vh;
    width: 100%;
    height: 100%;
}

#about {
    position: relative;
    height: 100vh;
}

#texts {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

h6 {
    font-weight: bold;
}

h5 {
    color: #1976d2;
}

#about p {
    padding-bottom: 2vh;
}

#portfolio,
#experience,
#education,
#skills,
#contact {
    padding-top: 5vh;
}

#portfolio,
#education,
#skills,
#contact {
    height: 100vh;
}

#about ul li a {
    padding-right: 3vh;
}


/* width */

::-webkit-scrollbar {
    width: 7px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #eceff1;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #1976d2;
    border-radius: 7px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #175da3;
}