body {
    background-color: #414254;
    color: #eceff1;
    margin-left: 350px;
}

.sidenav{
    background-color: #eceff1;
}

.tabs .indicator {
    background-color: #4D84FF;
}

.tabs .tab a {
    color: #4D84FF;
}

.tabs .tab a:hover, .tabs .tab a.active {
    color: #4D84FF;
}

a {
    text-align: center;
}

#img-profile {
    padding-bottom: 5vh;
    width: 100%; 
    height: 100%;
}

#about, #portfolio, #experience, #education, #skills, #awards {
    padding-top: 5vh;
    height: 95vh;
}

#about ul li a {
    padding-right: 3vh;
}